 /* CAROUSEL */
 .about-carousel{
    padding-top: 50px;
 }

 .carousel {
     position: relative;
     max-width: 600px;
     margin: auto;
     overflow: hidden;
     padding: 20px;
 }

 .carousel-container {
     display: flex;
     width: 100%;
 }

 .carousel-slide {
     flex: 1;
     margin-right: 20px;
     transition: transform 0.5s ease;
 }

 .carousel-slide img {
    max-width: 1080px;
    max-height: 1920px;
    width: auto;
    height: auto;
}

 .carousel-slide h2 {
     font-size: 2.5em;
     color: #333;
 }

 .carousel-slide p {
     font-size: 1.2em;
     color: #666;
 }

 .prev-slide,
 .next-slide {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     background-color: rgba(255, 255, 255, 0.5);
     border: none;
     padding: 10px;
     cursor: pointer;
 }

 .prev-slide {
     left: 0;
 }

 .next-slide {
     right: 0;
 }